.container-fluid {
    background-image: url('../images/nebula.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron {
    background-image: url('../images/galaxy.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    color: rgb(118, 62, 209);
}

.lead {
    color: rgb(255, 145, 0);
}

.row {
    padding-top: 50px;
}

h2 {
    color: gold;
}